<%= form_with(model: @task, local: true) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="task_title">
    <%= t('form.title') %>
    <%= form.text_field :title,id: 'task_title' %>
  </div>
  <div class="task_content">
    <%=  t('form.content') %>
    <%= form.text_field :content,id: 'task_content' %>
  </div>
  <div class='task_limit_date'>
    <%= t('form.limit_date') %>
    <%= form.date_select :limit_date,id: 'task_limit_date' %>
  </div>
  <div class='task_status'>
    <%= t('form.status') %>
    <%= form.select :status, options_for_select(Task.statuses.keys), {prompt: "選択してください"} %>
  </div>
  <div class='task_priority'>
    <%= t('form.priority') %>
    <%= form.select :priority, options_for_select(Task.priorities.keys), {prompt: "選択してください"}  %>
  </div>
  <div class="field">
    <%= form.collection_check_boxes(:label_ids, Label.all, :id, :name) %>
  </div>
  <%= form.submit "登録" %>
<% end %>
<%= link_to "タスク一覧画面にもどる", tasks_path,class:'btn btn-danger' %>
