<h1>タスク一覧</h1>
<%= notice %>
<%= link_to "終了期限でソートする", tasks_path(sort_expired: "true") %>
<div>
  <%= form_with(url: tasks_path,method: :get,local: true) do |f| %>
    <%= f.label :title,'タイトル検索' %>
    <%= f.text_field :title %>
    <%= f.select :status, options_for_select(Task.statuses), include_blank: true %>
    <%= f.submit 'Search' %>
  <% end %>
</div>
<table>
  <tr>
    <th>タイトル</th>
    <th>内容</th>
    <th>終了期限</th>
    <th>ステータス</th>
  </tr>
<% @tasks.each do |task| %>
  <tr>
    <td class="task_row"><%= task.title %></td>
    <td><%= task.content %></td>
    <td class="date_row"><%= task.limit_date %></td>
    <td><%= task.status %></td>
    <td><%= link_to '詳細を確認する', task_path(task.id) %></td>
    <td><%= link_to "タスクを編集する", edit_task_path(task.id) %></td>
    <td><%= link_to 'タスクを削除する', task_path(task.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %></td>
  </tr>
<% end %>
</table>
<%= link_to '新しくタスクを投稿する', new_task_path %>
