<h1>管理画面のユーザー一覧</h1>
<table class='table table-striped'>
  <tr>
    <th>ユーザーid</th>
    <th>ユーザー名</th>
    <th>タスク数</th>
  </tr>
<% @users.each do |user| %>
  <tr>
    <td><%= user.id %></td>
    <td><%= user.name %></td>
    <td><%= user.tasks.count %></td>
    <td><%= link_to '詳細', admin_user_path(user.id),class: 'btn btn-danger' %></td>
    <td><%= link_to '編集', edit_admin_user_path(user),class: 'btn btn-success' %></td>
    <td><%= link_to '削除', [:admin, user], method: :delete, data: {confirm: "ユーザー「#{user.name}」を削除します。よろしいですか？"}, class: 'btn btn-default' %></td>
  </tr>
<% end %>
</table>
<%= paginate @users %>
<%= link_to 'ユーザーを作成する',new_admin_user_path,class: 'btn btn-warning' %>
